.col-xs-8.col-xs-offset-2
  %h1= t('.title')

  %hr

  %h3= t('.blurb')

  %p
    = t('.component_title')

    %ul
      - %w{ruby_bench_web ruby_bench_docker ruby_bench_suite ruby_bench_server}.each do |repo|
        %li
          = link_to t(".#{repo}.text"), t(".#{repo}.url")

  %hr

  %h3 Feature requests/discussion

  %p
    All discussion of features and directions for RubyBench will be done at
    = link_to AppSettings.forum_url, AppSettings.forum_url
