.col-xs-8.col-xs-offset-2
  .homepage
    %h1.homepage-blurb.l-align-center
      = t('.blurb')

    %hr

    %h1.l-align-center
      = t('.repositories')

    %table.table.table-striped
      %tr
        %th= Repo.human_attribute_name(:name)
        %th= Repo.human_attribute_name(:url).upcase

      - @repos.each do |repo|
        %tr
          %td
            = link_to repo.name.capitalize,
              repo_path(repo_name: repo.name, organization_name: repo.organization.name)

          %td= link_to repo.url, repo.url, target: '_blank'
