.container.sponsors
  .row
    .col-md-10.col-md-offset-1
      %h1= t('.title')

      %hr

      %h4= t('sponsors.thanks')

      - @sponsors.each do |sponsor|
        .row.sponsor-row
          .col-sm-12
          = link_to sponsor.link, target: '_blank' do
            .col-xs-5
              %div{ class: "#{sponsor.class_name} sponsor-logo" }
                %span.l-text-hidden
                  = sponsor.name

            .col-xs-7
              %h3.sponsor-name= sponsor.name
              .sponsor-desc= sponsor.desc
