.description
  %p
    %strong RubyBench is a long running Ruby benchmark.

    Currently,
    = link_to 'Ruby benchmark scripts',
        'https://github.com/ruby-bench/ruby-bench-suite/tree/master/ruby/benchmarks',
        target: '_blank'
    and
    = link_to 'Discourse benchmark scripts',
        'https://github.com/discourse/discourse/blob/master/script/bench.rb',
        target: '_blank'
    have been implemented and are run for every commit and release. If you've
    noticed a regression, feel free to use RubyBench when opening a new issue.

  %hr

  %h4 Plans

  %p
    RubyBench is currently still in its early stages but has already proven to
    be useful in
    = succeed '.' do
      = link_to 'identifying performance regressions',
          'http://community.rubybench.org/t/ruby-bench-already-helped-catch-a-regression-in-mri',
          target: '_blank'
    We do believe that there are more improvements to be made such as
    providing the percentage difference between commits and releases.
    In the near future, RubyBench will also monitor and track popular Ruby
    libraries such as Rails.

  %p
    Help us make RubyBench and Ruby better by contributing to any parts of the
    project:

    %ul
      %li
        Web front-end:
        = link_to 'ruby-bench-web', 'https://github.com/ruby-bench/ruby-bench-web',
            target: '_blank'

      %li
        Benchmark runner:
        = link_to 'ruby-bench-docker', 'https://github.com/ruby-bench/ruby-bench-docker',
          target: '_blank'

  %hr

  %h4 Hardware

  %p
    All benchmarks are run on production level bare metal server in order to
    ensure consistent and repeatable results. More information about our bare metal
    server can be found
    = succeed '.' do
      = link_to 'here', hardware_path
