= form_tag form_path, role: 'form', method: :get, class: 'result-types-form form-inline', data: { organization_name: @organization.name, repo_name: @repo.name, name: name } do
  .form-group
    .input-group
      .input-group-addon= t('repos.benchmark_types')
      %select.form-control
        %option{ value: "", selected: @form_result_type.blank? || @form, disabled: true }
          = t('repos.select_benchmark')

        - @result_types.each do |category_name|
          %option{ value: category_name, selected: (@form_result_type == category_name) }
            = category_name

    - if name == 'commits'
      .input-group
        .input-group-addon= t('repos.show.show_last')

        = select :benchmark_run, :display_count, BenchmarkRun::PAGINATE_COUNT,
            { selected: @benchmark_run_display_count }, { class: 'form-control' }

        .input-group-addon= t('.repos.show.results')

:javascript
  $(document).on('ready page:load', function() {
    //Add left and right arrow keys to navigate benchmark types
    var opts = $('.result-types-form select.form-control option');
    var selected = $('.result-types-form select.form-control');
    var optsLength = $('.result-types-form select.form-control option').length;
    var optionIndex = 0;
    function incrementOptionIndex(index, n, increment = 1) {
      //calculated k because of the JavaScript modulo bug
      k = (((index + increment) % n) + n) % n;
      if (k == 0) {
        k = (((k + increment) % n) + n) % n;
      }
      index = k;
      return index;
    };

    $(window).keydown(function(e) {
    });
  });
