= form_tag form_path, role: 'form', method: :get, class: 'result-types-form form-inline', data: { organization_name: @organization.name, repo_name: @repo.name, name: name } do
  .form-group
    .input-group
      .input-group-addon= t('repos.benchmark_types')
      %select#benchmark_run_benchmark_type.form-control
        %option{ value: "", selected: @benchmark.blank? || @form, disabled: true }
          = t('repos.select_benchmark')

        - @benchmarks.each do |benchmark|
          %option{ value: benchmark.category, selected: @benchmark.present? && @benchmark.category == benchmark.category }
            = benchmark.category

    - if name == 'commits'
      .input-group
        .input-group-addon= t('repos.commits.show_last')

        = select :benchmark_run, :display_count, BenchmarkRun::PAGINATE_COUNT,
            { selected: @display_count }, { class: 'form-control' }

        .input-group-addon= t('.repos.commits.results')
      .input-group
        .input-group-addon= t('.repos.commits.compare')
        %select{id: "benchmark_run_compare_with", class: "form-control", name: "benchmark_run[compare_with]"}
          %option{ value: "", selected: @comparing_benchmark.nil?, disabled: true }
            = t('repos.select_benchmark')
          - @benchmarks.each do |benchmark|
            %option{ value: benchmark.category, selected: @comparing_benchmark.present? && @comparing_benchmark.category == benchmark.category }
              = benchmark.category
