.panel.panel-primary
  .panel-heading.clearfix
    .l-right
      = link_to '#', id: 'benchmark-types-form-hide', class: 'btn btn-default' do
        %span= t('repos.hide_benchmark_types_form')
        %span{ aria: 'hidden' }
          %strong ×

    %h5= t('repos.benchmark_types')

  .panel-body

    = form_tag form_path, role: 'form', method: :get, class: 'result-types-form', data: { organization_name: @organization.name, repo_name: @repo.name, name: name } do
      .form-group
        %select.form-control
          %option{ value: "", selected: @form_result_type.blank?, disabled: true } Select a type
          - @result_types.each do |category_name, categories|
            %optgroup{ label: category_name.try(:titleize) }
              - categories.each do |result_type|
                - value = "#{result_type}"
                %option{ value: value, selected: (@form_result_type == result_type) }
                  #{result_type}
