= form_tag form_path, role: 'form', method: :get, class: 'result-types-form form-inline', data: { organization_name: @organization.name, repo_name: @repo.name, name: name } do
  .form-group
    .input-group
      .input-group-addon= t('repos.benchmark_types')
      %select#benchmark_run_benchmark_type.form-control
        %option{ value: "", selected: @form_result_type.blank? || @form, disabled: true }
          = t('repos.select_benchmark')

        - @result_types.each do |category_name|
          %option{ value: category_name, selected: (@form_result_type == category_name) }
            = category_name

    - if name == 'commits'
      .input-group
        .input-group-addon= t('repos.commits.show_last')

        = select :benchmark_run, :display_count, BenchmarkRun::PAGINATE_COUNT,
            { selected: @benchmark_run_display_count }, { class: 'form-control' }

<<<<<<< HEAD
        .input-group-addon= t('.repos.commits.results')
=======
        .input-group-addon= t('.repos.show.results')
      .input-group
        .input-group-addon= t('.repos.show.compare')

<<<<<<< HEAD
        = select :benchmark_run, :compare_with, @result_types,
            { selected: nil }, { class: 'form-control' }
>>>>>>> Add compare with select in form
=======
        %select{id: "benchmark_run_compare_with", class: "form-control", name: "benchmark_run[compare_with]"}
          %option{ value: "", selected: @comparing_benchmark.nil?, disabled: true }
            = t('repos.select_benchmark')
          - @result_types.each do |result_type|
            %option{ value: result_type, selected: @form_result_type == result_type }
              = result_type
>>>>>>> Add acceptance test
