- if script_url = benchmark.script_url
  - if show_gem_tip
    != t('repos.run_locally_tip', path: run_locally_path, script: script_name)
  %h2.l-align-center
    = t('repos.script_title', graph_name: benchmark.category.humanize)

    = link_to benchmark.github_url, class: 'btn btn-primary', target: '_link' do
      = t('repos.view_github')

  - formatter = Rouge::Formatters::HTMLPygments.new(Rouge::Formatters::HTML.new)
  = sanitize Rouge.highlight("#{Net::HTTP.get(URI.parse(script_url))}", 'ruby', formatter)
