- if !charts || charts.empty?
  .alert.alert-warning
    .l-align-center
      %strong= t('repos.show_releases.select_benchmark')

  .alert.alert-info
    = render 'description'

- else
  %h2.l-align-center
    - benchmark_name = benchmark_type.category.humanize
    = t('repos.show_releases.graph_title', graph_name: benchmark_name)

  #chart

  - if charts.count > 1
    %h2.l-align-center
      = t('repos.show_releases.graph_title', graph_name: "#{benchmark_name} memory")

    #chart-memory

  - if script_url = benchmark_type.script_url
    %h2.l-align-center
      = t('repos.show_releases.script_title', graph_name: benchmark_name)

    = Pygments.highlight("#{Net::HTTP.get(URI.parse(script_url))}",
        lexer: :ruby, options: { linenos: 'inline' }).html_safe

  - charts.each_with_index do |chart_columns, index|
    - if chart_columns
      - selector = index == 0 ? "#chart" : "#chart-memory"

      - content_for(:footer) do
        :javascript
          $(function () {
            $("#{selector}").highcharts({
              chart: {
                type: 'column',
                zoomType: 'x'
              },
              subtitle: {
                text: document.ontouchstart === undefined ? "#{t('highcharts.subtitle.desktop')}" : "#{t('highcharts.subtitle.mobile')}"
              },
              title: {
                text: ""
              },
              exporting: {
                enabled: false
              },
              tooltip: {
                useHTML: true,
                crosshairs: true,
                shared: true,
                positioner: function (labelWidth, labelHeight, point) {
                  if ((this.chart.chartWidth / 2) > point.plotX ) {
                    return { x: this.chart.chartWidth - labelWidth - 20, y: 50 };
                  } else {
                    return { x: 80, y: 50 };
                  }
                },
                shadow: false,
                animation: false,
                shape: 'square'
              },
              xAxis: {
                categories: #{chart_columns[:categories]},
                labels: {
                  rotation: -30,
                  formatter: function () {
                    return /Version: ([^<]+)/.exec(this.value)[1]
                  }
                }
              },
              yAxis: {
                title: {
                  text: "#{benchmark_type.unit.capitalize}",
                }
              },
              legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
              },
              series: #{chart_columns[:columns]}
            });
          });
