- if !charts
  = image_tag 'icon.png', alt: 'RubyBench Logo', class: 'benchmark-placeholder'

- elsif charts.empty?
  .alert.alert-warning
    .l-align-center
      %strong= t('repos.no_results', category: benchmark_type.category)

- else
  %h2.l-align-center
    - benchmark_name = benchmark_type.category.humanize
    = t('repos.show_releases.graph_title', graph_name: benchmark_name)

  .release-chart{ data: { categories: charts.first[:categories],
    unit: benchmark_type.unit.capitalize, columns: charts.first[:columns] } }

  - if charts.count > 1
    %h2.l-align-center
      = t('repos.show_releases.graph_title', graph_name: "#{benchmark_name} memory")

    .release-chart{ data: { categories: charts.last[:categories],
      unit: benchmark_type_memory.unit.capitalize,
      columns: charts.last[:columns] } }

  = render 'script', benchmark_type: benchmark_type, benchmark_name: benchmark_name
