- if !charts || !benchmark_type
  = image_tag 'icon.png', alt: 'RubyBench Logo', class: 'benchmark-placeholder'

- elsif charts.empty?
  .alert.alert-warning
    .l-align-center
      %strong= t('repos.no_results', category: benchmark_type.category)

- else
  - benchmark_name = benchmark_type.category.humanize

  %h2.l-align-center
    = t('repos.show.graph_title', graph_name: benchmark_name)

  .chart{ data: { tick_interval: JSON.parse(charts.first[:columns]).first['data'].count / 4,
    unit: benchmark_type.unit.capitalize,
    columns: charts.first[:columns],
    categories: charts.first[:categories],
    organization: @organization.name,
    repo: @repo.name } }

  - if charts.count > 1
    %h2.l-align-center
      = t('repos.show.graph_title', graph_name: "#{benchmark_name} memory")

    .chart{ data: { tick_interval: JSON.parse(charts.last[:columns]).first['data'].count / 4,
      unit: benchmark_type_memory.unit.capitalize,
      columns: charts.last[:columns],
      categories: charts.last[:categories],
      organization: @organization.name,
      repo: @repo.name } }

  = render 'script', benchmark_type: benchmark_type, benchmark_name: benchmark_name
