- if !charts || charts.empty?
  .alert.alert-warning
    .l-align-center
      %strong= t('repos.show_releases.select_benchmark')

  .alert.alert-info
    = render 'description'

- else
  %h2.l-align-center
    - benchmark_name = benchmark_type.category.humanize
    = t('repos.show_releases.graph_title', graph_name: benchmark_name)

  .release-chart{ data: { categories: charts.first[:categories],
    unit: benchmark_type.unit.capitalize, columns: charts.first[:columns] } }

  - if charts.count > 1
    %h2.l-align-center
      = t('repos.show_releases.graph_title', graph_name: "#{benchmark_name} memory")

    .release-chart{ data: { categories: charts.last[:categories],
      unit: benchmark_type_memory.unit.capitalize,
      columns: charts.last[:columns] } }

  - if script_url = benchmark_type.script_url
    %h2.l-align-center
      = t('repos.show_releases.script_title', graph_name: benchmark_name)

    = Pygments.highlight("#{Net::HTTP.get(URI.parse(script_url))}",
        lexer: :ruby, options: { linenos: 'inline' }).html_safe
