.container
  = render 'title', title: t('.title', repo_name: @repo.title)

  %hr

  #benchmark-types-form-container
    .text-center
      = render 'form',
          form_path: commits_path(organization_name: @organization.name, repo_name: @repo.name),
          name: 'commits'

  #charts-container
    = render 'layouts/spinner'

    #chart-container.chart-container
      = render 'commits_chart', charts: @charts, benchmark_type: @benchmark_type

  = render 'chart_modal'
