.container
  %h2= "#{@repo.title} #{t('.commits_benchmark')}"

  %table.table.table-striped
    %thead
      %th= BenchmarkType.human_attribute_name(:category)
      %th= t('.sparklines')
    %tbody
      - @charts.each do |category, outputs|
        %tr
          %td
            %h5= link_to category, commits_path(organization_name: @organization.name,
              repo_name: @repo.name,
              result_type: category)

          %td
            - outputs.each do |chart|
              %h5= chart[:benchmark_result_type]

              .sparkline{ data: { columns: chart[:columns].to_json } }
                .spinner2
                  .bounce1
                  .bounce2
                  .bounce3

:javascript
  $(function() {
    drawSparkline('.sparkline');
    var called = false;

    $(window).on('scroll', function() {
      if (called) return;
      called = true;

      setTimeout(function() {
        drawSparkline('.sparkline', function() { called = false; });
      }, 10);
    });
  });
