%h1= @repo.name.capitalize

#chart

.table-responsive
  %table.table.table-striped
    %tr
      %th= "#{Commit.name} #{Commit.human_attribute_name(:message)}"
      %th= Commit.human_attribute_name(:sha1).upcase
      %th= Commit.human_attribute_name(:created_at)

    - @commits.each do |commit|
      %tr
        %td= commit.message
        %td= link_to commit.sha1, commit.url, target: '_blank'
        %td= commit.created_at

- content_for(:footer) do
  :javascript
    var char = c3.generate({
      bindto: "#chart",
      data: {
        x: 'Commit SHA1',
        columns: [
          #{['Commit SHA1'].concat(@commits_sha1s)},
          #{@commits_data['TOTAL']},
          #{@commits_data['FREE']},
          #{@commits_data['T_OBJECT']},
          #{@commits_data['T_MODULE']},
          #{@commits_data['T_FLOAT']},
          #{@commits_data['T_STRING']},
          #{@commits_data['T_REGEXP']},
          #{@commits_data['T_ARRAY']},
          #{@commits_data['T_HASH']},
          #{@commits_data['T_STRUCT']},
          #{@commits_data['T_BIGNUM']},
          #{@commits_data['T_FILE']},
          #{@commits_data['T_DATA']},
          #{@commits_data['T_MATCH']},
          #{@commits_data['T_COMPLEX']},
          #{@commits_data['T_RATIONAL']},
          #{@commits_data['T_NODE']},
          #{@commits_data['T_ICLASS']}
        ]
      },
      zoom: {
        enabled: true
      },
      axis: {
        x: {
          type: 'category',
          tick: {
            culling: false
          }
        }
      }
    })
