- params_result_type = params[:result_type]

%h1.l-align-center
  = @repo.name.capitalize
  Benchmarks

.row
  .col-xs-2
    = form_tag repo_path(organization_name: @repo.organization.name,
        repo_name: @repo.name),
        role: 'form', method: :get do

      %h4.l-text-underline Benchmark Types

      .form-group
        %ul.list-unstyled
          %li
            = radio_button_tag("result_type", 'all',
                params_result_type == 'all')

            = label_tag('Display all')

          %li
            = radio_button_tag("result_type", 'none',
                params_result_type == 'none')

            = label_tag('Display none')

          %hr

          - @result_types.each do |result_type|
            %li
              = radio_button_tag("result_type", result_type,
                params_result_type == result_type)

              = label_tag(result_type)

      .form-group
        = submit_tag 'Submit', class: 'btn btn-block btn-primary'

  .col-xs-10
    - if !@graphs_columns || @graphs_columns.empty?
      .alert.alert-warning
        .l-align-center
          Please select an option on the left.

    - else
      - @graphs_columns.each_with_index do |columns, index|
        #chart{ id: "#{index}" }

        - content_for(:footer) do
          :javascript
            c3.generate({
              bindto: "#chart_#{index}",
              data: {
                x: 'Commit SHA1',
                columns: #{columns}
              },
              zoom: {
                enabled: true
              },
              axis: {
                x: {
                  type: 'category',
                  label: 'Commits displayed in ascending order based on the commit date',
                  tick: {
                    centered: true
                  }
                },
                y: {
                  label: 'Seconds'
                }
              }
            })
