%h1.l-align-center
  = @repo.name.capitalize
  Benchmarks

.row
  .col-xs-2
    = form_tag repo_path(organization_name: @repo.organization.name,
        repo_name: @repo.name),
        role: 'form', method: :get do

      %h4.l-text-underline Benchmark Types

      .form-group
        %ul.list-unstyled
          - @result_types.each do |result_type|
            %li
              - id = "result_type_#{result_type}"

              = check_box_tag("result_types[]", result_type,
                @form_result_types.try(:include?, result_type), id: id)

              = label_tag(id, result_type)

      .form-group
        = submit_tag 'Submit', class: 'btn btn-block btn-primary'

  .col-xs-10
    - if !@graphs_columns || @graphs_columns.empty?
      .alert.alert-warning
        .l-align-center
          Please check the check boxes on the left.

    - else
      - @graphs_columns.each_with_index do |columns, index|
        #chart{ id: "#{index}" }

        - content_for(:footer) do
          :javascript
            c3.generate({
              bindto: "#chart_#{index}",
              data: {
                x: 'Commit SHA1',
                columns: #{columns[2..-1].unshift(columns[0])}
              },
              zoom: {
                enabled: true
              },
              axis: {
                x: {
                  type: 'category',
                  label: 'Commits displayed in ascending order based on the commit date',
                  tick: {
                    centered: true
                  }
                },
                y: {
                  label: "#{columns[1]}"
                }
              }
            })
