= render 'title', title: t('.title', repo_name: @repo.name.capitalize)

%hr

#benchmark-types-form-container.col-xs-4
  = render 'form',
      form_path: repo_path(organization_name: @repo.organization.name, repo_name: @repo.name),
      name: 'commits'

#charts-container.col-xs-8
  = render 'hide_form_button'
  = render 'layouts/spinner'

  #chart-container
    = render 'show_chart', chart_columns: @chart_columns, benchmark_type: @benchmark_type
