%h1= @repo.name.capitalize

#chart

= form_tag repo_path(organization_name: @repo.organization.name, repo_name: @repo.name),
    role: 'form', method: :get do

  .form-group
    = label_tag('result_type', 'Result Type')

    = select_tag 'result_type',
        options_for_select(@result_types, selected: @result_type),
        class: 'form-control'

  .form-group
    = submit_tag 'Submit', class: 'btn btn-block btn-primary'

.row
  %h1 List of Commits

  .table-responsive
    %table.table.table-striped
      %tr
        %th= "#{Commit.name} #{Commit.human_attribute_name(:message)}"
        %th= Commit.human_attribute_name(:sha1).upcase
        %th= Commit.human_attribute_name(:created_at)

      - @commits.each do |commit|
        - if !commit.benchmark_runs.empty?
          %tr
            %td.col-xs-6
              = commit.message

            %td.col-xs-4
              = link_to commit.sha1, commit.url, target: '_blank'

            %td.col-xs-2
              = commit.created_at

- content_for(:footer) do
  :javascript
    var char = c3.generate({
      bindto: "#chart",
      data: {
        x: 'Commit SHA1',
        columns: #{@columns}
      },
      zoom: {
        enabled: true
      },
      axis: {
        x: {
          type: 'category',
          show: false
        },
        y: {
          label: 'Objects Allocated / Time(secs)'
        }
      }
    })
