.container
  = render 'title', title: t('.title', repo_name: @repo.name.capitalize)

  %hr

  #benchmark-types-form-container
    .text-center
      = render 'form',
          form_path: repo_path(organization_name: @repo.organization.name, repo_name: @repo.name),
          name: 'commits'

  #charts-container
    = render 'layouts/spinner'

    #chart-container.chart-container
      = render 'show_chart', charts: @charts, benchmark_type: @benchmark_type,
          benchmark_type_memory: @benchmark_type_memory

  = render 'chart_modal'
