%h1.l-align-center
  = @repo.name.capitalize
  = t('.benchmarks')

.row
  .panel.panel-primary
    .panel-heading= t('benchmark_types')

    .panel-body
      = form_tag repo_path(organization_name: @repo.organization.name,
          repo_name: @repo.name),
          role: 'form', method: :get do

        .form-group
          %ul.list-unstyled.list-inline
            - @result_types.each do |result_type|
              %li
                - id = "result_type_#{result_type}"

                = check_box_tag("result_types[]", result_type,
                  @form_result_types.try(:include?, result_type), id: id)

                = label_tag(id, result_type)

        .form-group
          = submit_tag t('submit'), class: 'btn btn-block btn-primary'

.row
  - if !@graphs_columns || @graphs_columns.empty?
    .alert.alert-warning
      .l-align-center
        = t('.select_benchmark')

  - else
    - @graphs_columns.each_with_index do |columns, index|
      %h2.l-align-center
        = columns.last.first
        = t('.graph')

      #chart{ id: "#{index}" }

      - if script_url = columns[2]
        %h2.l-align-center
          = t('.benchmark_script')

        = Pygments.highlight("#{Net::HTTP.get(URI.parse(script_url))}",
            lexer: :ruby, options: { linenos: 'inline' }).html_safe

      %hr

      - content_for(:footer) do
        :javascript
          c3.generate({
            bindto: "#chart_#{index}",
            data: {
              x: 'Commit SHA1',
              columns: #{columns[3..-1].unshift(columns[0])}
            },
            zoom: {
              enabled: true
            },
            axis: {
              x: {
                type: 'category',
                label: 'Commits displayed in ascending order based on the commit date',
                tick: {
                  centered: true
                }
              },
              y: {
                label: "#{columns[1]}"
              }
            }
          })
