- content_for(:page_header) do
  = @repo.name.capitalize

.row
  .col-lg-6
    - if notice.present?
      #notice.alert.alert-success
        = notice

    #wait_alert.alert.alert-warning.hidden
      = t('admin.wait_manual_run')

    .panel.panel-warning
      .panel-body
        = form_tag(admin_repo_run_path(@repo.name), id: 'manual_run_form') do
          .form-group
            = label_tag(t('admin.manual_run_label'))
            = select_tag(:count, options_for_select(ManualRunner::OPTIONS, ManualRunner::OPTIONS.last), class: 'form-control')
          = button_tag(t('admin.manual_run_button'), class: 'btn btn-default')
