%nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand RubyBench Admin

  %ul.nav.navbar-top-links.navbar-right.pull-right
    %li.dropdown
      = link_to root_path do
        %i.fa.fa-sign-out

  .navbar-default.sidebar{:role => "navigation"}
    .sidebar-nav.navbar-collapse
      %ul#side-menu.nav.in
        %li
          = link_to admin_path do
            %i.fa.fa-dashboard.fa-fw
            = t('admin.dashboard')
        %li
          = link_to admin_groups_path do
            %i.fa.fa-object-group.fa-fw
            = t('admin.groups.title')
        %br
        %li.dropdown-header
          = t('admin.repositories')

        - @repos.each do |repo|
          %li
            = link_to admin_repo_path(repo.name) do
              %i.fa.fa-suitcase.fa-fw
              = repo.name.capitalize


