.col-lg-6
  .panel.panel-default
    .panel-heading
      = group.name
    .panel-body
      %p
        %i
          = description_for(group)
      %ul
        - group.benchmark_types.each do |benchmark_type|
          %li
            = benchmark_type.category
    .panel-footer
      = link_to(edit_admin_group_path(group), class: 'btn btn-default btn-circle') do
        %i.fa.fa-pencil
      = link_to(admin_group_path(group), class: 'btn btn-danger btn-circle', method: 'delete') do
        %i.fa.fa-times

