.container
  %h1.text-center= t('.title')

  %table.table.table-striped
    %thead
      %th= Organization.human_attribute_name(:name)
      %th= Organization.human_attribute_name(:repo).pluralize

    %tbody
      - @organizations.each do |organization|
        %tr
          %td
            = organization.title

          %td
            - organization.repos.each do |repo|
              %ul.list-inline
                - if !repo.releases.empty?
                  %li
                    = link_to t('.releases_benchmark'),
                        releases_path(organization_name: organization.name, repo_name: repo.name)

                - if !repo.commits.empty?
                  %li
                    = link_to t('.commits_benchmark'),
                        commits_path(organization_name: organization.name, repo_name: repo.name), data: { no_turbolink: true }
                  %li
                    = link_to t('.overview'),
                        overview_path(organization_name: organization.name, repo_name: repo.name), data: { no_turbolink: true }
