%h1
  = @organization.name.capitalize
  Repositories

%table.table.table-striped
  %tr
    %th= Repo.human_attribute_name(:name)
    %th= Repo.human_attribute_name(:url).upcase

  - @repos.each do |repo|
    %tr
      %td
        = link_to repo.name.capitalize,
          repo_path(repo_name: repo.name, organization_name: @organization.name)

      %td= link_to repo.url, repo.url, target: '_blank'
