.footer
  .container
    .row
      .col-xs-10.col-xs-offset-1
        %ul.footer-nav-links
          %li
            = link_to t('top_nav.releases'), releases_repo_path(organization_name: 'ruby', repo_name: 'ruby')
          %li
            = link_to t('top_nav.benchmarks'), repo_path(organization_name: 'ruby', repo_name: 'ruby')
          %li
            = link_to t('top_nav.hardware'), hardware_path
          %li
            = link_to t('top_nav.contribute'), contribute_path
          %li
            = link_to t('top_nav.sponsors'), sponsors_path
          %li
            = link_to t('top_nav.discuss'), AppSettings.forum_url, target: '_blank'

        %hr.footer-hr

        .l-align-center
          %p
            = succeed '.' do
              Built by
              = link_to '@tgxworld', 'https://github.com/tgxworld', target: '_blank'

            = succeed '.' do
              Designed by
              = link_to '@yangshun', 'https://github.com/yangshun', target: '_blank'

            = succeed '!' do
              A big thanks to our awesome
              = link_to 'contributors', 'https://github.com/ruby-bench/ruby-bench-web/graphs/contributors', target: '_blank'
