.footer-sponsors
  %ul.list-inline.footer-sponsors-list
    %li.footer-sponsors-list-item
      = link_to 'http://www.jollygoodcode.com/', target: '_blank' do
        %h4.l-align-center
          %i= t('footer.supported_by')

        = image_tag 'sponsors/jolly_good_code.png', class: 'footer-sponsors-list-item-image', alt: 'Jolly Good Code'

  %hr

  We are currently looking for the following sponsors in order to help us sustain
  RubyBench:

  %ol
    %li Hosting sponsor

    %li
      %strong
        Sponsor for bare metal server. We're currently running the bare metal
        server using a free one month trial from Softlayer. While the lowest
        bare metal server costs around USD170, we would prefer a bare metal
        server in the range of USD500 such that the benchmarks do not take forever
        to complete.

  For parties interested in sponsoring any of the above, please drop us a note
  at our
  = succeed '.' do
    = link_to ' discussion forum', 'http://community.miniprofiler.com/t/status-progress-cooperation/337', target: '_blank', class: 'alert-link'

%hr

.l-align-center
  %h5
    Built and maintained by
    = link_to '@tgxworld', 'https://github.com/tgxworld', target: '_blank'
