.footer-sponsors.l-align-center
  %ul.list-inline.footer-sponsors-list
    %li.footer-sponsors-list-item
      = link_to 'http://www.jollygoodcode.com/', target: '_blank' do
        %h5.l-align-center
          %i= t('footer.supported_by')

        .footer-sponsors-list-item-image
          = image_tag 'sponsors/jolly_good_code.png', alt: 'Jolly Good Code'

    %li.footer-sponsors-list-item
      = link_to 'http://www.discourse.org/', target: '_blank' do
        %h5.l-align-center
          %i= t('footer.domain_and_community')

        .footer-sponsors-list-item-image
          = image_tag 'sponsors/discourse.png', alt: 'Discourse'

%hr.footer-hr

.l-align-center
  %h5
    Built and maintained by
    = link_to '@tgxworld', 'https://github.com/tgxworld', target: '_blank'
