.footer-sponsors.l-align-center
  %ul.list-inline.footer-sponsors-list
    %li.footer-sponsor-list
      %h5.l-align-center
        %i= t('footer.supported_by')

      = link_to t('sponsors.ruby_together.link'), target: '_blank' do
        .sponsor-ruby-together
          %span.l-text-hidden= t('sponsors.ruby_together.name')

      = link_to 'http://www.jollygoodcode.com/', target: '_blank' do
        .sponsor-jolly-good-code
          %span.l-text-hidden Jolly Good Code

    %li.footer-sponsor-list
      = link_to 'http://www.discourse.org/', target: '_blank' do
        %h5.l-align-center
          %i= t('footer.domain_and_community')

        .sponsor-discourse
          %span.l-text-hidden Discourse

    %li.footer-sponsor-list
      = link_to 'http://www.rubytune.com/', target: '_blank' do
        %h5.l-align-center
          %i= t('footer.bare_metal_server')

        .sponsor-ruby-tune
          %span.l-text-hidden RubyTune

    %li.footer-sponsor-list
      = link_to t('sponsors.bugsnag.link'), target: '_blank' do
        %h5.l-align-center
          %i= t('footer.error_tracking')

        .sponsor-bugsnag
          %span.l-text-hidden= t('sponsors.bugsnag.name')

%hr.footer-hr

.l-align-center
  %h5
    Built and maintained by
    = succeed "." do
      = link_to '@tgxworld', 'https://github.com/tgxworld', target: '_blank'
