.row
  %h1.top-nav-title.l-left
    = link_to root_path do
      %span>= t('top_nav.rails')
      %span= t('top_nav.bench')

  %ul.top-nav-list.list-unstyled.l-right
    %li= link_to t('top_nav.benchmarks'),
      repo_path(organization_name: 'tgxworld', repo_name: 'ruby')

    %li= link_to t('top_nav.builder'), builder_path
    %li= link_to t('top_nav.contribute'), contribute_path

    %li
      = link_to t('top_nav.discuss'),
          'http://community.miniprofiler.com/t/status-progress-cooperation/337',
          target: '_blank'
