.row
  %h1.top-nav-title.l-left
    = link_to root_path do
      = t('top_nav.logo')

  %ul.top-nav-list.list-unstyled.l-right
    %li= link_to t('top_nav.releases'),
      releases_repo_path(organization_name: 'ruby', repo_name: 'ruby')

    %li= link_to t('top_nav.benchmarks'),
      repo_path(organization_name: 'ruby', repo_name: 'ruby')

    %li= link_to t('top_nav.hardware'), hardware_path
    %li= link_to t('top_nav.contribute'), contribute_path
    %li= link_to t('top_nav.sponsors'), sponsors_path

    %li
      = link_to t('top_nav.discuss'), AppSettings.forum_url, target: '_blank'
