.top-bar
  .row
    .col-xs-8.col-xs-offset-2
      %strong
        More at
        = link_to 'rubyonrails.org', 'http://rubyonrails.org', class: 'home',
            title: 'Ruby on Rails'

      = link_to 'Overview', 'http://rubyonrails.org/',
          title: 'Ruby on Rails - Overview'

      = link_to 'Download', 'http://rubyonrails.org/download',
          title: 'Ruby on Rails - Downloads'

      = link_to 'Deploy', 'http://rubyonrails.org/deploy',
          title: 'Ruby on Rails - Deploy'

      = link_to 'Code', 'https://github.com/rails/rails',
          title: 'Ruby on Rails - Code'

      = link_to 'Screencasts', 'http://rubyonrails.org/screencasts',
          title: 'Ruby on Rails - Screencasts'

      = link_to 'Documentation', 'http://rubyonrails.org/documentation',
          title: 'Ruby on Rails - Documentation'

      = link_to 'Community', 'http://rubyonrails.org/community',
          title: 'Ruby on Rails - Community'

      = link_to 'Blog', 'http://weblog.rubyonrails.org/',
          title: 'Ruby on Rails - Blog'
