!!! 5
%html{ lang: 'en' }
  %head
    %title Ruby Bench | Long Running Ruby Benchmarks
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:100,400'
    = render 'layouts/ga' if Rails.env.production?
    = csrf_meta_tags

  %header
    .row.top-nav
      .col-xs-10.col-xs-offset-1
        = render 'layouts/top_nav'

  %body
    .row.body
      .col-xs-12
        = yield

  %footer
    .row.footer
      .col-xs-10.col-xs-offset-1
        = render 'layouts/footer'
        = javascript_include_tag 'application'
        = yield :footer if content_for(:footer)
