!!! 5
%html{ lang: 'en' }
  %head
    %title RubyBench - Long Running Ruby Benchmark
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = render 'layouts/typekit' if !Rails.env.test?

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400,700',
        'data-turbolinks-track' => 'reload'

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'

    = render 'layouts/ga' if Rails.env.production?
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags

  %body
    = render 'layouts/top_nav'
    .site-content
      = yield

    %footer
      = render 'layouts/footer'
      = yield :footer if content_for(:footer)
