!!! 5
%html{ lang: 'en' }
  %head
    %title RubyBench - Long Running Ruby Benchmark
    = render 'layouts/typekit'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400,700'
    = stylesheet_link_tag 'application', media: 'all'
    = render 'layouts/ga' if Rails.env.production?
    = csrf_meta_tags

  %body
    = render 'layouts/top_nav'
     
    .container 
      .row.body
        .col-xs-12
          = yield

    %footer
      = render 'layouts/footer'
      = yield :footer if content_for(:footer)

    = javascript_include_tag 'application'
