!!! 5
%html{ lang: 'en' }
  %head
    %title Long Running Rails Benchmark
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:400,700'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %header
      .row.top-nav
        .col-xs-8.col-xs-offset-2
          = render 'layouts/top_nav'

    %body
      .row
        .col-xs-8.col-xs-offset-2
          = yield

  %footer
    = yield :footer if content_for(:footer)
